<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="listeners.SauceLabsTestListener"/>
    </listeners>

    <parameter name="adminEmail" value=""/>
    <parameter name="bannedUsername" value="BannedUser"/>
    <parameter name="adminPassword" value="Chive1234"/>
    <parameter name="adminURL" value="https://qa.chive-testing.com/admin/dashboards/main"/>
    <parameter name="bannedEmail" value="thechivetest+banned@gmail.com"/>
    <parameter name="chivetteEmail" value="thechivetest+chivette@gmail.com"/>
    <parameter name="facebookEmail" value="matt.archer@chivemediagroup.com"/>
    <parameter name="paidEmail" value="thechivetest+subscribed@gmail.com"/>
    <parameter name="paidPassword" value="Chive1234"/>
    <parameter name="password" value="Chive1234"/>
    <parameter name="unpaidEmail" value="thechivetest@gmail.com"/>
    <parameter name="verifiedEmail" value="thechivetest+verified@gmail.com"/>
    <parameter name="url" value="https://qa.chive-testing.com/"/>
    <parameter name="userWithFollowersQA" value="ca_pinup_girl"/>

    <!--suppress XmlDefaultAttributeValue -->
    <test verbose="2" preserve-order="true" name="/Users/mattarcher/IdeaProjects/iChiveTests">
        <classes>

            <class name="tests.BannedUserTest">
                <methods>
                    <include name="BanedScreenOnLoginTest"/>
                    <include name="BanedUserLinkTest"/>
                    <include name="ChiveryLinkTest"/>
                    <include name="zzz"/>
                </methods>
            </class>
            <class name="tests.BlockUserTest">
                <methods>
                    <include name="BlockButton"/>
                    <include name="BlockedUserNotInSearch"/>
                    <include name="zzzTemplate"/>
                </methods>
            </class>
            <class name="tests.ChivettesTest">
                <methods>
                    <include name="ChivetteIcon"/>
                    <include name="WebSiteInputDisplays"/>
                    <include name="WebSiteLink"/>
                    <include name="zzzTemplate"/>
                </methods>
            </class>
            <class name="tests.CommentsTestTest">
                <methods>
                    <include name="ClickShowComments"/>
                </methods>
            </class>
            <class name="tests.DopamineDumpTest">
                <methods>
                    <include name="FeaturedCardsDisplay"/>
                    <include name="InfiniteScrollFeatured"/>
                    <include name="NoDuplicates"/>
                    <include name="SingleDumpPage"/>
                    <include name="ZZZtemplate"/>
                </methods>
            </class>
            <class name="tests.EditProfilePrivacyAndEmailsTest">
                <methods>
                    <include name="EmailHotnessDaily"/>
                    <include name="EmailHotnessWeekly"/>
                    <include name="EmailHumanityDaily"/>
                    <include name="EmailHumanityWeekly"/>
                    <include name="EmailHumorDaily"/>
                    <include name="EmailHumorWeekly"/>
                    <include name="EmailNewsletterDaily"/>
                    <include name="EmailNewsletterWeekly"/>
                    <include name="EmailPrefsHeader"/>
                    <include name="EmailPageText"/>
                    <include name="HotnessToggle"/>
                    <include name="MakePrivateToggle"/>
                    <include name="privacyDefIcon"/>
                    <include name="PrivacyPageText"/>
                    <include name="PrivacyTabToggleText"/>
                    <include name="ZZZtemplate"/>
                </methods>
            </class>
            <class name="tests.EditProfileSocialLinks">
                <methods>
                    <include name="AmazonEditCancel"/>
                    <include name="AmazonLink"/>
                    <include name="AmazonLinkBadURL"/>
                    <include name="AmazonLinkHover"/>
                    <include name="AmazonLinkShortened"/>
                    <include name="FaceBookLink"/>
                    <include name="FaceBookLinkBadURL"/>
                    <include name="FaceBookLinkPartialURL"/>
                    <include name="FaceBookLinkWholeURL"/>
                    <include name="FaceBookUserHandle"/>
                    <include name="InstaLink"/>
                    <include name="InstaLinkBadURL"/>
                    <include name="InstaLinkWholeURL"/>
                    <include name="InstaLinkUserHandle"/>
                    <include name="TikTokLink"/>
                    <include name="TiktokBadURL"/>
                    <include name="TiktokUserHandle"/>
                    <include name="TikTokLinkWholeURL"/>
                    <include name="TwitterBadURL"/>
                    <include name="TwitterLink"/>
                    <include name="TwitterLinkWholeURL"/>
                    <include name="WebsiteInputNotFound"/>
                    <include name="ZZZtemplate"/>
                </methods>
            </class>
            <class name="tests.EditProfileTest">
                <methods>
                    <include name="AddMembership"/>
                    <include name="BannerPicOver4MB"/>
                    <include name="BannerPicUpdate"/>
                    <include name="BirthdayPicker"/>
                    <include name="EmailInputNoEmail"/>
                    <include name="EmailInputInvalidEmail"/>
                    <include name="GenderSelect"/>
                    <include name="Notifications"/>
                    <include name="PasswordChangeMismatch"/>
                    <include name="PasswordChangeValid"/>
                    <include name="ProfilePicAndBanner"/>
                    <include name="ProfileTabSelectedByDefault"/>
                    <include name="UpdateFirstName"/>
                    <include name="UpdateLastName"/>
                    <include name="UpdateSuccess"/>
                    <include name="ZZZtemplate"/>
                </methods>
            </class>
            <class name="tests.FavoritesTest">
                <methods>
                    <include name="FavoriteDisplaysOnProfile"/>
                    <include name="FaveIconFillsWhenClicked"/>
                    <include name="FavoriteGoneOnLogout"/>
                </methods>
            </class>
            <class name="tests.HelloWorldTest">
                <methods>
                    <include name="testName"/>
                </methods>
            </class>
            <class name="tests.ImageUploadTest">
                <methods>
                    <include name="BannerPicUpdate"/>
                    <include name="Submit"/>
                    <include name="ZZZTest"/>
                </methods>
            </class>
            <class name="tests.LoginFaceBookTest">
                <methods>
                    <include name="ZZZTest"/>
                </methods>
            </class>
            <class name="tests.LoginGoogleTest">
                <methods>
                    <include name="ZZZTest"/>
                </methods>
            </class>
            <class name="tests.MembershipTest">
                <methods>
                    <include name="AutoRenewToggle"/>
                    <include name="CreditCardInputs"/>
                    <include name="CreditCCNumber"/>
                    <include name="ZZZtemplate"/>
                </methods>
            </class>
            <class name="tests.MobileViewHeaderTest">
                <methods>
                    <include name="HamburgerMenuOptionsDisplay"/>
                    <include name="MenuFeatured"/>
                    <include name="MenuFollowing"/>
                    <include name="MenuLatestIsSelected"/>
                    <include name="MenuTopChivers"/>
                    <include name="OpenHamburgerMenu"/>
                    <include name="ZZZtemplate"/>
                </methods>
            </class>
            <class name="tests.PageHeaderTest">
                <methods>
                    <include name="AvatarPicDisplays"/>
                    <include name="AvatarPicGoneOnLogout"/>
                    <include name="ChiveryLink"/>
                    <include name="ClickFeaturedTab"/>
                    <include name="ClickFollowingTab"/>
                    <include name="ClickLogo"/>
                    <include name="ClickTopChiversTab"/>
                    <include name="DopamineDump"/>
                    <include name="DopamineCounter"/>
                    <include name="DropDownMenuItems"/>
                    <include name="FilterDisplaysOnFeatured"/>
                    <include name="FilterDisplaysOnFollowing"/>
                    <include name="FilterDisplaysOnLatest"/>
                    <include name="FilterNotOnSearchPage"/>
                    <include name="FilterNotOnProfilePage"/>
                    <include name="FilterNotOnSettingsPage"/>
                    <include name="FilterNotOnSubmissionPage"/>
                    <include name="FilterNotOnTagPage"/>
                    <include name="FilterNotOnTopChivers"/>
                    <include name="HoverFeaturedColorChange"/>
                    <include name="HoverFollowingColorChange"/>
                    <include name="HoverLatestColorChange"/>
                    <include name="HoverSettingsColorChange"/>
                    <include name="HoverSignOutColorChange"/>
                    <include name="HoverTopChiversColorChange"/>
                    <include name="HoverYourProfileColorChange"/>
                    <include name="IChiveLogoDisplays"/>
                    <include name="LinksCharities"/>
                    <include name="LinksChive"/>
                    <include name="LinksChivery"/>
                    <include name="MenuLatest"/>
                    <include name="TrophyIconIsGone"/>
                    <include name="ZZtemplate"/>
                </methods>
            </class>
            <class name="tests.ProfileTest">
                <methods>
                    <include name="ClickProfilePic"/>
                    <include name="ClickUserName"/>
                    <include name="CMGLink"/>
                    <include name="EditButtonNotDisplayed"/>
                    <include name="FeaturedPostShowsInProfile"/>
                    <include name="FollowUserBtn"/>
                    <include name="InfiniteScrollFollowing"/>
                    <include name="PrivacyPolicy"/>
                    <include name="SubmissionsDisplay"/>
                    <include name="TermsLink"/>
                    <include name="ZZZtemplate"/>
                </methods>
            </class>
            <class name="tests.SearchAndFiltersTest">
                <methods>
                    <include name="FollowButtonDisplays"/>
                    <include name="HashTagExactMatchDisplays"/>
                    <include name="HashTagPartialMatchDisplays"/>
                    <include name="InfiniteScrollingSearch"/>
                    <include name="ResultsTextDisplays"/>
                    <include name="UsersPartialMatchDisplays"/>
                    <include name="VerifiedFilterFeatured"/>
                    <include name="VerifiedFilterFollowing"/>
                    <include name="VerifiedFilterLatest"/>
                    <include name="zzz"/>
                </methods>
            </class>
            <class name="tests.SignupTestTest">
                <methods>
                    <include name="BannedName"/>
                    <include name="TOSNotSelected"/>
                    <include name="Test"/>
                </methods>
            </class>
            <class name="tests.SubmissionCardsTest">
                <methods>
                    <include name="ClickUserName"/>
                    <include name="CommentButton"/>
                    <include name="DownVoteButton"/>
                    <include name="FilterPageHotness"/>
                    <include name="FilterPageHumanity"/>
                    <include name="FilterPageHumor"/>
                    <include name="InfiniteScroll"/>
                    <include name="LoginDisplaysWhenNeeded"/>
                    <include name="MouseoversVoteBtns"/>
                    <include name="MouseOverFavoriteBtn"/>
                    <include name="MouseOverCommentBtn"/>
                    <include name="MouseOverGIF"/>
                    <include name="MouseOverReportBtn"/>
                    <include name="OverlayDownvote"/>
                    <include name="OverlayFavorite"/>
                    <include name="OverlayUpvote"/>
                    <include name="ReportPostButtons"/>
                    <include name="ReportPostText"/>
                    <include name="SubmissionImageWidth"/>
                    <include name="SubmissionURLMatchesCard"/>
                    <include name="VoteCounter"/>
                    <include name="zzzTemplate"/>
                </methods>
            </class>
            <class name="tests.SubmissionSingleImageTest">
                <methods>
                    <include name="AvatarImage"/>
                    <include name="DDumpDoesNotDisplay"/>
                    <include name="FavoriteButton"/>
                    <include name="FiltersDoNotDisplay"/>
                    <include name="ImageMaxWidth600"/>
                    <include name="ReportPostIconHover"/>
                    <include name="ShareFacebook"/>
                    <include name="ShareTwitter"/>
                    <include name="SocialLinksFacebook"/>
                    <include name="SocialLinksInsta"/>
                    <include name="SocialLinksTwitter"/>
                    <include name="SubmissionTagsDisplay"/>
                    <include name="TitleDisplays"/>
                    <include name="TrendingDisplays"/>
                    <include name="TrendingTagsDisplay"/>
                    <include name="URLLoadsSingleImagePage"/>
                    <include name="UsersNameDisplays"/>
                    <include name="VerifiedDisplays"/>
                    <include name="VerifiedUserDate"/>
                    <include name="VerifiedUserDisplays"/>
                    <include name="VoteDownButton"/>
                    <include name="VoteUpButton"/>
                </methods>
            </class>
            <class name="tests.SubmissionModalTest">
                <methods>
                    <include name="ClickTagRedirectToTagPage"/>
                    <include name="ClickCommentsButton"/>
                    <include name="ClickCommentsIcon"/>
                    <include name="ClickFBIcon"/>
                    <include name="ClickTwitterIcon"/>
                    <include name="GIFNotCutOff"/>
                    <include name="HoverFacebookButton"/>
                    <include name="HoverTwitter"/>
                    <include name="ImageChanceBetweenSubsArrowKey"/>
                    <include name="NavBetweenSubs"/>
                    <include name="NavBetweenSubsArrowKeys"/>
                    <include name="RoundedEdgesOnModal"/>
                    <include name="StickyHeaderOnModal"/>
                    <include name="zzzzTemplate"/>
                </methods>
            </class>
            <class name="tests.TopChiversTest">
                <methods>
                    <include name="FollowButton"/>
                    <include name="FollowButtonHover"/>
                    <include name="RecentlyVerified"/>
                    <include name="ShareIcon"/>
                    <include name="SocialLinksFacebook"/>
                    <include name="SocialLinksInsta"/>
                    <include name="SocialLinksTwitter"/>
                    <include name="TagsDisplay"/>
                    <include name="TopChiversRibbon"/>
                    <include name="TopChiversArrow"/>
                    <include name="TopChiversAvatar"/>
                    <include name="TopChiversRowElements"/>
                    <include name="TopChivesRowsScroll"/>
                    <include name="TopChiversText"/>
                    <include name="TopChivesUserName"/>
                    <include name="zzzzTemplate"/>
                </methods>
            </class>
            <class name="tests.UsersTest">
                <methods>
                    <include name="ActionsDropdownBanUser"/>
                    <include name="ActionsDropdownDisplays"/>
                    <include name="AllUsersPage"/>
                    <include name="UseriChivePageLink"/>

                </methods>
            </class>
            <class name="tests.VerifiedUsersTest">
                <methods>
                    <include name="VerifiedCheck"/>
                    <include name="WebSiteInputDisplays"/>
                    <include name="WebSiteLink"/>
                    <include name="zzzTemplate"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>